.pagination {
  align-items: center;
  flex-grow: 5;
  display: flex;
  justify-content: flex-start;
  padding: 0 3%;
}

.number {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  min-width: 8%;
}

.selected {
  color: #ff008c;
}
