.App {
  display: flex;
  height: 100vh;
  margin: 5px;
  overflow-x: hidden;
  text-align: center;
}

.Menu {
  height: 100%;
  position: fixed;
  width: 25%;
}

.Products {
  height: 100%;
  left: 25%;
  position: absolute;
  width: 75%;
}
